@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: hsl(0, 0%, 100%);
  padding: 13px;
  width: 300px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

img, .container {
  border-radius: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

p {
  text-align: center;
  font-family: "Outfit", sans-serif;
}

.title {
  color: hsl(218, 44%, 22%);
  font-size: 1.3em;
  font-weight: 700;
}

.subtitle {
  color: hsl(216, 15%, 48%);
  font-weight: 400;
}